.delete {
  cursor: pointer;
  display: inline;
}
.delete-svg {
  height: 2rem;
  width: 1.5rem;
  cursor: pointer;
  display: inline;
}
.footer {
  position: absolute;
  bottom: 0px;
  width: 10rem;
  display: flex;
  justify-content: flex-end;
}

.color {
  height: 1rem;
  width: 1rem;
  border-radius: 1rem;
  position: relative;
  top: 0.5rem;
  margin-left: 0.5rem;
}
.color-2 {
  background-color: #a3e635;
}
.color-1 {
  background-color: #fbbf24;
}

.color-3 {
  background-color: #60a5fa;
}
.color-4 {
  background-color: #f472b6;
}
.button-add {
  border-radius: 0.5rem;
  background-color: #3db46d;
  padding: 0.3rem;
  color: white;
}
.button-close {
  position: relative;
  left: 6rem;
  top: 10px;
}

button {
  background: #8c54ff;
  border: 0;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 15px;
  transition: transform 100ms ease-out;
}
button:hover {
  background: #682ede;
  transform: scale(1.1);
}

.color:hover {
  transform: scale(1.1);
}
.edit-title {
  font-size: x-large;
  width: 100%;
  outline: none;
  border-width: 0px;
  background: transparent;
}
.edit-description {
  padding-top: 1rem;
  border-width: 0px;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  background: transparent;
  outline: none;
}
.edit-description:hover {
  outline: none;
}
.button-edit {
  font-size: 10px;
  padding: 0px;
  margin-left: 1rem;
  margin-bottom: auto;
}
.div-addTag {
  position: absolute;
  height: auto;
  width: 10rem;
  left: 5rem;
  top: 40px;
  border: 1px solid black;
  padding: 1rem;
  background-color: white;
  border-radius: 0.2rem;
  z-index: 2;
  display: inline-flex;
  flex-wrap: wrap;
  word-break: break-all;
}
.input-tag {
  width: 100%;
  /* border-radius: 1rem; */
  font-family: "Montserrat", sans-serif;
}
.button-tag {
  list-style: none;
  display: inline;
  padding: 0.3rem;
  margin: 0.3rem;
}
.tag-selected {
  height: 1rem;
  border: 1px solid green;
  padding: 0.2rem;
  margin: 0.2rem;
  word-wrap: break-word;
}
.green {
  background-color: green;
}
.tag-view {
  width: 100%;
  display: inline-flex;
  word-wrap: break-word;
  flex-wrap: wrap;
  margin: 0.1rem;
}
.footer-input {
  position: relative;
  bottom: 0px;
  margin-top: 1rem;
}
.color-input {
  height: 1rem;
  width: 1rem;
  border-radius: 1rem;
  position: relative;
  top: 0.5rem;
  margin-left: 0.5rem;
}
.color-palette {
  display: inline;
  position: relative;
  top: -5px;
}
.todo-tags {
  height: 1rem;
  width: 1rem;
  /* background-color: #9ca3af; */
  color: #319177;
  margin: 0.5rem 0.3rem 0rem 0rem;
  font-size: small;
}
.todo-tags-view {
  margin-top: 1rem;
}
