.App {
  text-align: center;
}
.click {
  margin: auto;
  width: 15rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.click:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.input-title {
  font-size: x-large;
}
.input-description {
  font-size: large;
  width: 20rem;
}
