@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
body {
  font-family: "Montserrat", sans-serif;
}
.gkeep {
  display: flex;
}
.sidebar {
  width: 10rem;
}
.keep-container {
  padding-top: 4rem;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}

.addNote {
  margin: auto;
  width: 25rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.addNote:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.input-title {
  font-size: x-large;
}
.input-description {
  font-size: large;
  width: 20rem;
}

.input-div {
  position: relative;
  margin: auto;
  width: 25rem;
  border: 1px solid black;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  text-align: left;
  padding: 1rem;
  border-radius: 1rem;
  border-width: 0px;
  .input-title {
    border-width: 0px;
    width: 100%;
    word-wrap: normal;
    background: transparent;
  }
  .input-title:focus {
    outline: none;
  }
  .input-description {
    padding-top: 1rem;
    border-width: 0px;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    background: transparent;
  }
  .input-description:focus {
    outline: none;
  }
  .color {
    height: 1rem;
    width: 1rem;
    border-radius: 1rem;
    position: relative;
    top: 0.5rem;
    margin-left: 0.5rem;
    display: inline-block;
  }
  .color-2 {
    background-color: #a3e635;
  }
  .color-1 {
    background-color: #fbbf24;
  }

  .color-3 {
    background-color: #60a5fa;
  }
  .color-4 {
    background-color: #f472b6;
  }
}

ul {
  li {
    list-style: none;
  }
}
.todo-view {
  display: flex;
  //display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  .todo-pinned {
    display: flex;
    flex-wrap: wrap;
  }
  .todo-others {
    display: flex;
    flex-wrap: wrap;
  }
  .todo {
    width: 10rem;
    border: 1px solid #9ca3af;

    text-align: left;
    padding: 1rem;
    padding-bottom: 2rem;
    border-radius: 1rem;
    margin: 0.3rem;
    position: relative;

    // .todo:hover {
    //   box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    // }

    .todo-title {
      font-weight: bolder;
      position: relative;
      left: 0px;
      padding-right: 1rem;
      word-wrap: break-word;
    }
    .todo-description {
      padding-top: 0.3rem;
    }
    .pinned-pin {
      position: absolute;
      top: 5px;
      left: 10rem;
      right: 0rem;
      cursor: pointer;
      height: 1.5rem;
      width: 1.5rem;
      color: grey;
      display: inline;
    }

    .todo-pin {
      position: absolute;
      top: 5px;
      left: 10rem;
      right: 0rem;
      cursor: pointer;
      height: 1.5rem;
      width: 1.5rem;
      color: grey;
      display: inline;
    }
  }
  .todo:hover {
    // box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  }
}
.svg-pin {
  height: 1.5rem;
  width: 1.5rem;
  padding-left: 2px;
}
